<div class="about" data-ease>

  {% include 'components/link-nav.twig' with { links: [{
    link: '#',
    title: 'our approach'
  }] } %}

  {% include 'components/content-heading.twig' with { text: 'lorem ipsum dolor sit amet, consectetur adipiscing elit. integer elementum elit in dolor interdu, portra', link: '' } %}

  <div class="row">
    <div class="col-sm-4 order-2">
      <div class="spotify-widget">
        <div class="spotify-icon"></div>
        <div class="spotify-now-playing">now playing</div>
        <div class="spotify-title"><strong>Blinded by Your Grace pt2 (feat MNEK) /</strong> Stormzy, MNEK</div>
      </div>
    </div>
    <div class="col-sm-8 order-1">
      <div class="artwork-wrapper">
        <img src="{{ image.url }}" alt="{{ title }}" />
        <img src="{{ artwork.url }}" alt="artwork" class="artwork" />
      </div>
    </div>
  </div>

</div>
