<div class="approach">

  {% include 'components/link-nav.twig' with {
    links: [
      { 'title' : 'our approach', 'link': '#' }
    ]
  } %}

  <h2>lorem ipsum dolor sit amet, consectetur adipiscing elit. integer elementum elit in dolor interdu, portra</h2>

</div>
