<div class="clients">

  {% include 'components/link-nav.twig' with {
    links: [
      { 'title' : 'a few of our clients', 'link': '#' },
      { 'title' : 'see all', 'link': '#' }
    ]
  } %}

  <div class="slider-clients-wrapper">

    <ul class="slider-clients-nav">
      <li><a href="javacsript:;" data-slide="0">samsung</a></li>
      <li><a href="javacsript:;" data-slide="1">linked in</a></li>
      <li><a href="javacsript:;" data-slide="2">hula hoops</a></li>
      <li><a href="javacsript:;" data-slide="3">rubicon</a></li>
      <li><a href="javacsript:;" data-slide="4">rowse</a></li>
      <li><a href="javacsript:;" data-slide="5">batiste</a></li>
    </ul>

    <div class="slider slider-clients">
      <div>
        <img src="//placehold.it/1600x900?text=1" />
      </div>
      <div>
        <img src="/img/content/client-linkedin.jpg" />
      </div>
      <div>
        <img src="//placehold.it/1600x900?text=3" />
      </div>
      <div>
        <img src="//placehold.it/1600x900?text=4" />
      </div>
      <div>
        <img src="//placehold.it/1600x900?text=5" />
      </div>
      <div>
        <img src="//placehold.it/1600x900?text=6" />
      </div>
    </div>
  </div>

</div>
