<footer class="site-footer">

  <div class="container">

    <div class="row align-items-end">
      <div class="col-sm-7">
        <div class="social-footer">
          <a href="/" class="logo-footer"><img src="/img/logo-footer.png" /></a>
          <a href="/" class="twitter-footer"></a>
          <a href="/" class="instagram-footer"></a>
          <a href="/" class="facebook-footer"></a>
        </div>
        <div class="address">
          Floor 2, The Crane Building <br />
          22 Lavington Street <br />
          London <br />
          SE1 0NZ <br />
          020 7632 0400
        </div>
      </div>
      <div class="col-sm-2">
        <ul class="footer-nav">
          <li><a href="">home</a></li>
          <li><a href="">work</a></li>
          <li><a href="">approach</a></li>
          <li><a href="">get in touch</a></li>
          <li><a href="">about us</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="footer-nav">
          <li><a href="">our events</a></li>
          <li><a href="">careers</a></li>
          <li><a href="">blog</a></li>
          <li><a href="">privacy policy</a></li>
          <li><a href="">tax strategy</a></li>
        </ul>
      </div>
    </div>

    <div class="row align-items-end bottom-footer">
      <div class="col-sm-7">
        <img src="/img/logo-ipa.png" alt="IPA" />
        <div>BMB London is an IPA accredited agency</div>
      </div>
      <div class="col-sm-5">
        <div class="copyright">copyright (c) 2018 BMB London | All rights reserved</div>
      </div>
    </div>

  </div>

</footer>
