<header>
  <div class="navigation">
    <div class="logo-navigation"><img src="/img/logo-vertical.png" /></div>
    <ul>
      <li><a href="#work">work</a></li>
      <li><a href="#approach">approach</a></li>
      <li><a href="#contact">contact</a></li>
    </ul>
  </div>
</header>
