<section class="hero">

  <div class="hero-media">
    <figure style="background-image:url(/img/content/hero.jpg)" class="cover">
      <img src="/img/content/hero.jpg" alt="BMB" />
    </figure>
  </div>

  <div class="hero-content">
    <div class="hero-logo">
      <figure>
        <img src="/img/hero-logo-0.png" alt="BMB" data-hero-img />
      </figure>
      {# <div class="progress-wrap progress" data-progress-percent="25">
        <div class="progress-bar progress"></div>
      </div> #}
    </div>

    <div class="hero-strapline">
      <figure style="background-image:url(/img/hero-cutout.png);" class="cover">
        <img src="/img/hero-cutout.png" alt="BMB" />
      </figure>
    </div>

    {# This is used to fill the background beneath #}
    <div class="hero-fill"></div>

  </div>

</section>
