<div class="location">

  {% include 'components/link-nav.twig' with { links: [{
    link: '#',
    title: 'about our agency'
  }] } %}

  {% include 'components/content-heading.twig' with { text: 'lorem ipsum dolor sit amet, consectetur adipiscing elit. integer elementum elit in dolor interdu, portra', link: '' } %}

</div>
