<div data-ease class="google-map-wrapper">
  <div class="google-map" id="google-map">

  </div>
</div>

<div class="container">
  <div class="map-clock">
    {% include 'components/clock.twig' with { clock :'bmb' } %}
  </div>
</div>
