figure {
  margin:0;
  &.cover {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    img {
      max-width: 100%;
      opacity:0;
    }
  }

  img {
    max-width: 100%;
  }
}
