.site-footer {
  padding-top: 150px;
  padding-bottom: 50px;
  min-height: 400px;
  background: white;

  .social-footer {
    display: flex;
    flex-direction:row;
    .logo-footer {
      display: block;
      width: auto;
      height: 30px;
      img {
        height: 100%;
      }
      margin-right: 20px;
    }
    .twitter-footer,
    .facebook-footer,
    .instagram-footer {
      @extend %icon-sm;
      display: inline-block;
      width: 40px;
      height: 40px;
      top: -5px;
      position: relative;
      margin-left: 5px;
    }

    .twitter-footer { @extend %icon-twitter; }
    .facebook-footer { @extend %icon-facebook; }
    .instagram-footer { @extend %icon-instagram; }
  }

  .address {
    font-family: $headings-font-family;
    margin-top: 20px;
  }

  .copyright {
    color:#999999;
  }

  .bottom-footer {
    padding-top: 50px;
    font-family: $headings-font-family;
    img {
      width: 50px;
      margin-top: 10px;
      display: inline-block;
    }
  }

  ul.footer-nav {
    @include reset-ul;
    font-family: $headings-font-family;
    a {
      color:$black;
    }
  }
}
