.testimonials {
  margin-left: $container-padding-left;
  margin-top: 150px;
  margin-bottom: 150px;

  blockquote {
    @include medium-text;
    max-width: 80%;
    padding-left: 50px;
    span::before {
      content:'“';
      margin-left: -32px;
      margin-right: 5px;
    }
    span::after {
      content:'”';
      margin-left: 5px;
    }
    footer {
      margin-top: 50px;
      cite {
        font-style: normal;
        font-family: $font-family-base;
        font-size: 1rem;
        line-height: 1rem;
        letter-spacing: 0.1px;
      }
    }
  }

  .slick-dots {
    padding-left: 50px;
  }
  .slick-slider {
    margin-left: -50px;
  }
}
