{% extends 'base.twig' %}

{% block content %}

  <section>
    <h1>Styleguide</h1>
  </section>

  {# ------------------------------------------ Headings #}

  <h1>Heading h1</h1>
  <h2>Heading h2</h2>
  <h3>Heading h3</h3>
  <h4>Heading h4</h4>
  <h5>Heading h5</h5>

  {# ------------------------------------------ Paragraph text #}

  <p>Proin eget tortor risus. Sed porttitor lectus nibh. Cras ultricies ligula sed magna dictum porta.

  Nulla porttitor accumsan tincidunt. Donec sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper <a href="#">sit amet ligula</a>.</p>

  {# ------------------------------------------ Link navigation #}
  <ul class="link-nav">
    <li><h2>Nav item</h2></li>
    <li><a href="#">Link</a></li>
    <li><a href="#">Link 1</a></li>
  </ul>

  {# ------------------------------------------ Buttons #}
  <a href="#" class="btn btn-primary">link through</a>



{% endblock %}
